@import url("https://fonts.googleapis.com/css?family=Tomorrow:800&display=swap");
.app{
  border-radius: 4px;
  margin-top: 20px;
  padding: 30px;
  background: rgb(255, 255, 255);
}

.titulo{
 color: rgb(7, 7, 7);
 font-family: 'Tomorrow' ;



}
